

*{
    padding: 0px;
    margin: 0px;
    font-weight: bold;
    }

 body{
    background-image: url(arkaplan.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
 }
 img{
width: 200px;
height: 200px;
max-width: 100%;
 }
 .Kutu{
    background-color: #80808060;
   width: auto;
   height: 600px;
   text-align: center;
   display: block;
   padding: 30px;
   position: absolute;
   top: 55%;
   left: 50%;
   margin-right: -50%;
   transform: translate(-50%, -50%);
   text-decoration: none;
   font-size: 30px;
   border: 2px solid rgba(0, 0, 0, 0.527) ;
   max-width: 100%;
   }
h4{
    font-size: 50px;
    color: white;
}

    
.navbar {
margin-right: 1250px;
display: block;
height: 100px;
width: 100%;
max-width: 100%;
background-color: #333;

}
.navbar a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    
}

.navbar .active{
background-color: green;
margin-left: auto;
margin-top: 25px;
border: 1px solid black;
width: 140px;

}

.navbar .sayfa2{
margin-top: 25px;
margin-left: 20px;
border: 1px solid black;
width: 140px;

}
.icon{
    font-size: 100px;
    margin-left: 20px;
    margin-top: 50px;
    color:white;
}
